@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
}
:root{
    font-family: 'Poppins', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
    display: grid;
    grid-template-areas:
    'nav header'
    'nav main';
    background-color: rgb(235, 234, 234);
    min-height: 100vh;
    grid-template-columns: minmax(200px, 10%) 1fr;
    grid-template-rows: 150px auto;
}

header{ 
    background-color: #faf4d3;
    grid-area: header;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 100px;
    box-shadow: 1px 1px 7px 2px rgba(0,0,0,0.1);
}

/* First row of Header */
header > div:first-child{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    padding-top: 10px;
}

/* Search Bar */
header > div:first-child div:first-child{
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    padding: 0 20px;
    gap: 10px;
}

#search{
    border-radius: 20px;
    border: none;
    background-color: rgb(204, 201, 201);
    outline: none;
    padding: 5px 10px;
}

/* Profile info beside search bar */
header > div:first-child div:last-child{
    display: grid;
    grid-template-columns: 40px 40px 20%;
    align-items: center;
    justify-content: end;
    gap: 20px;
    padding-right: 5px;
}

/* Second row of Header */
header > div:last-child{
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    justify-content: space-between;
}

/* Header Buttons */
header > div:last-child div:last-child{
    display: grid;
    grid-template-columns: repeat(3, minmax(80px, 150px));
    gap: 10px;
    padding: 0 20px;
    justify-content: end;
}

/* Profile Avatar with Info */
header > div:last-child div:first-child{
    display: grid;
    justify-content: start;
    padding: 0 20px;
    gap: 5px;
    grid-template-areas:'img h4'
                        'img h2';
    grid-template-rows: repeat(2, 25px);
    grid-template-columns: auto 1fr;
    align-items:center;
}

header > div:last-child div:first-child > img{
    grid-area: img;
    width: 70px;
}
header > div:last-child div:first-child > h4{
    grid-area: h4;
}
header > div:last-child div:first-child > h2{
    grid-area: h2;
}


nav{ 
    grid-area: nav;
    display: grid;
    justify-content: start;
    padding: 35px;
    grid-template-rows: 30px 70% auto;
    gap: 50px 0;
    background-color: #004643;
    color: white;
}

nav h2{
    padding: 20px 0;
}
.nav-items{
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(10px, 50px));
    font-size: 15px;
    font-weight: 600;
}
.nav-items > li{
    list-style-type: none;
}

main{
    grid-area: main;
    display: grid;
    grid-template-areas: 'projects other';
    padding: 10px;
    gap: 10px;

}

.projects{
    grid-area: projects;
    display: grid;
    gap: 20px;
    padding: 5px;
    grid-template-areas: 
    'title title'
    'project project';
    grid-template-columns: repeat(2, minmax(100px, 1fr));
    grid-template-rows: 15px repeat(3, minmax(50px, 200px));
}

.project, .announcements, .trending{
    background-color: whitesmoke;
    border: 1px solid rgba(121, 119, 119, 0.3);
    border-radius: 5px;
    box-shadow: 1px 1px 7px 2px rgba(0,0,0,0.1);
}

.project{
    border-left-width: 5px;
    border-left-color: #785964;
    display: grid;
    grid-template-areas: 'desc'
                         'buttons'; 
    padding: 25px 25px 0 25px;
}

.proj-desc{
    grid-area: desc;
}

.proj-desc p{
    font-size: 12px;
    font-weight: 400;
    width: 85%;
    max-height: 80px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    color: rgb(99, 96, 96);
}
.proj-buttons{
    grid-area: buttons;
    display: grid;
    gap: 0 10px;
    grid-template-columns: repeat(3, 30px);
    grid-template-rows: 50px;
    justify-content: end;
    justify-items: center;
    align-items: end;
}

.projects > h2{
    grid-area: title;
}

.misc{
    grid-area: other;
    display: grid;
    gap: 15px 0;
    grid-template-areas: 
    '.'
    'announcements'
    '.'
    'trending';
    grid-template-rows: 15px minmax(300px, 400px) 15px minmax(200px, 230px);
}

.announcements{
    display: grid;
    grid-template-rows: repeat(3, minmax(50px, 120px));
    padding: 0 20px;
    gap: 5px;
    grid-template-columns: minmax(200px, 250px);
    align-content: center;
}

.post{
    display: grid;
    gap: 5px;
    padding: 15px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.384);
}

.post > p{
    font-size: 12px;
    color: rgb(73, 72, 72);
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow:auto;
    text-overflow: ellipsis;
}
.post:last-child{
    border-bottom: none;
}

.trending{
    grid-area: trending;
    display: grid;
    justify-content: center;
    padding: 20px 10px;
    grid-template-columns: minmax(200px, 250px);
    gap: 5px;
}

.account{
    display: grid;
    grid-template-columns: 35px auto;
    gap: 10px;
    align-items: center;
}

.account h6{
    font-size: 14px;
}
.account small{
    font-size: 12px;
}

.account img{
    width: 35px;
}

.avatar{
    background-color: #9A8C98;
    border-radius: 50px;
}

.btn{
    font-weight: 600;
    font-size: 14px;
    color: white;
    background-color: #004643;
    padding: 10px 20px;
    border-radius: 25px;
    border: none;
    transition: background-color 0.3 ease-in-out, transform 0.3s ease-in-out;
}

.btn:hover{
    background-color: #01645f;
    box-shadow: 1px 1px 7px 2px rgba(0,0,0,0.2);
    transform: scale(1.1);
}

.btn-icons{
    border: none;
    background-color: transparent;
    width: inherit;
    transition: transform 0.3 ease-in-out;
}

.btn-icons:hover{
    transform: scale(1.1);
}

.icons{
    width: 20px;
}