:root{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
    display: grid;
    grid-template-areas:
    'nav header'
    'nav main';
    background-color: rgb(235, 234, 234);
    min-height: 100vh;
}

header, main, nav{
    border: 1px solid black;
}

header{ grid-area: header;}
main{ grid-area: main;}
nav{ grid-area: nav;}
main{
    grid-area: main;
    display: grid;
    grid-template-areas: 'projects other';
    padding: 10px;
    gap: 10px;
}

.projects{
    grid-area: projects;
    display: grid;
    gap: 20px;
    padding: 5px;
    grid-template-areas: 
    'title title'
    'project project';
    grid-template-columns: repeat(2, minmax(100px, 1fr));
    grid-template-rows: 15px repeat(3, minmax(50px, auto));
}

.project, .announcements, .trending{
    background-color: whitesmoke;
    border: 1px solid rgba(121, 119, 119, 0.3);
    border-radius: 5px;
    box-shadow: 1px 1px 7px 2px rgba(0,0,0,0.1);
}

.project{
    border-left-width: 5px;
    border-left-color: rgb(187, 84, 0); 
}

.projects > h2{
    grid-area: title;
}
.misc{
    grid-area: other;
    display: grid;
    gap: 10px 0;
    grid-template-areas: 
    '.'
    'announcements'
    '.'
    'trending';
    grid-template-rows: 15px auto 15px auto;
}

.announcements{
    display: grid;
    grid-template-rows: repeat(3, minmax(50px, 100px));
    padding: 20px;
    gap: 5px;
    grid-template-columns: minmax(200px, 250px);
}

.post{
    display: grid;
    gap: 5px;
    padding: 15px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.384);
}

.post > p{
    color: rgb(73, 72, 72);
    overflow: scroll;
    text-overflow: ellipsis;
}
.post:last-child{
    border-bottom: none;
}

.nav-items > li{
    list-style-type: none;
    padding: 10px 0;
}

